<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="homeContent">
        <div class="navBarContainer">
            <div class="">
                <div class="navbar-header">
                    <a href="~/Home">
                        <img src="~/Images/Logo 3.0.png" alt="logo" class="img-logo" />
                    </a>
                    <div class="menuContainer">
                        <div class="menulink"><a href="~/Home" class="link">Home</a></div>
                        <div class="menulink"><a href="~/Home#about" class="link">Sobre nós</a></div>
                        <div class="menulink"><a href="~/Desaparecido/ListDesaparecidoTest" class="link">Desaparecido</a></div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                <div class="menuContainer">
                    <div class="menulink"><p class="link">Pessoas Encontradas</p></div>
                    <div class="menulink"><a href="~/Desaparecido/ListMeusDesaparecidos" class="link">Meus Desaparecidos</a></div>
                    <div class="menulink"><a href="~/Desaparecido/InitialRegisterDesaparecido" class="link">Cadastrar Desaparecidos</a></div>
                    <div class="menulink"><p class="link">Meus Vulneráveis</p></div>
                    <div class="menulink"><a href="~/Vulneravels/InitialRegisterVulneravel" class="link">Cadastrar Vulneravel</a></div>
                    <div class="menulink"><p class="link">Estatísticas</p></div>
                </div>

                        <div class="menuContainer">
                            <div class="menulink"><a href="~/Responsavels/Perfil/@Request.Cookies.Get("userId").Value" class="link">@Request.Cookies.Get("loginData").Value</a></div>
                            <div class="menulink"><p class="link">Dory Gold</p></div>
                            <div class="menulink"><a href="~/Responsavels/Sair" class="link">Sair</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="menuContainer">
                            <div class="btnEntrar">
                                <a href="~/Responsavels/Acesso" class="btnEntrar">Entrar</a>
                            </div>
                            <div class="menulink"><a href="~/Responsavels/Cadastro" class="link2">Cadastrar</a></div>
                            <script src="https://use.fontawesome.com/62e43a72a9.js"></script>

                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="contentContainer">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>*@
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @if (TempData["MSG"] != null)
    {
        <script>
            $(document).ready(function () {
            var titulo = "";
            switch ("@TempData["MSG"].ToString().Split('|')[0]") {
            case "success":
                titulo = "Sucesso";
                break;
            case "warning":
                titulo = "Atenção";
                break;
            case "error":
                titulo = "Erro";
                break;
            case "info":
                titulo = "Informação";
                break;
                }
                swal(titulo, "@Html.Raw(TempData["MSG"].ToString().Split('|')[1])", "@TempData["MSG"].ToString().Split('|')[0]");
      });
        </script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
