<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="homeContent">
        <div class="navBarContainer">
            <div class="">
                <div class="navbar-header">
                    <img src="~/Images/Logo 3.0.png" alt="logo" class="img-logo" />
                    <div class="menuContainer">
                        <div class="menulink"><a href="~/Home" class="link">Home</a></div>
                        <div class="menulink"><a href="~/Home#about" class="link">Sobre nós</a></div>
                        <div class="menulink"><p class="link">Desaparecido</p></div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="menuContainer">
                            <div class="menulink"><p class="link">Pessoas Encontradas</p></div>
                            <div class="menulink"><p class="link">Meus Desaparecidos</p></div>
                            <div class="menulink"><p class="link">Meus Vulneráveis</p></div>
                            <div class="menulink"><p class="link">Estatísticas</p></div>
                        </div>

                        <div class="menuContainer">
                            <div class="menulink"><a href="~/Responsavels/Perfil/@Request.Cookies.Get("userId").Value" class="link">@Request.Cookies.Get("loginData").Value</a></div>
                            <div class="menulink"><p class="link">Dory Gold</p></div>
                            <div class="menulink"><a href="~/Responsavels/Sair" class="link">Sair</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="menuContainer">
                            <div class="btnEntrar">
                                   <a href="~/Responsavels/Acesso" class="btnEntrar">Entrar</a>
                             </div>
                            <div class="menulink"><a href="~/Responsavels/Cadastro" class="link2">Cadastrar</a></div>
                                    <script src="https://use.fontawesome.com/62e43a72a9.js"></script>
                            
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="contentContainer">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
