
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/register.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="header">
        <a src="~/Home/Index">
            <img src="~/Images/Logo 3.0.png" alt="logo" class="img-logo"/>
        </a>
    </div>
    <div class="content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
