@model Dory2.Models.ConfirmaVulneravel

@{
    ViewBag.Title = "ConfirmaVulneravel";
    Layout = "~/Views/Shared/_Register.cshtml";

}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.codigo)
    @Html.AntiForgeryToken()

    <h1 class="title">Estamos quase acabando...</h1>
    <p class="subtitle">Informe o boletim de ocorrência do desaparecimento para evitar situações indesejadas</p>
    <div class="form-horizontal">

        <div class="form-group form-Box2">
            @Html.EditorFor(model => model.CpfVulneravel, new { htmlAttributes = new { @class = "form-control", @placeholder = "CPF do(a) desaparecido(a)" } })
            @Html.ValidationMessageFor(model => model.CpfVulneravel, "", new { @class = "text-danger mensagem-erro" })
        </div>

        <div class="form-group form-Box2">
            @Html.EditorFor(model => model.RgVulneravel, new { htmlAttributes = new { @class = "form-control", @placeholder = "RG do(a) desaparecido(a)" } })
            @Html.ValidationMessageFor(model => model.RgVulneravel, "", new { @class = "text-danger mensagem-erro" })
        </div>


        <div class="form-container">
            <div class="form-group form-Box">
                @Html.EditorFor(model => model.NumeroDoBO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Número do Boletim de ocorrência" } })
                @Html.ValidationMessageFor(model => model.NumeroDoBO, "", new { @class = "text-danger mensagem-erro" })
            </div>
            <div class="form-group form-Box">
                @Html.TextBoxFor(model => model.DataBO, htmlAttributes: new { @class = "form-control", @type = "date", @placeholder = "Data do boletim" })
                @Html.ValidationMessageFor(model => model.DataBO, "", new { @class = "text-danger mensagem-erro" })
            </div>
        </div>



        <div class="form-container">
            <div class="button-Container">
                @*@Html.ActionLink("Voltar", "Index")*@
                <input type="button" value="Voltar" onClick="history.go(-1)">
            </div>

            <div class="button-Container">
                <input type="submit" value="Finalizar cadastro" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <script>
        $(document).ready(function () {
            $("#CpfVulneravel").mask("999.999.999-99");
            $('#RgVulneravel').mask('99.999.999-9');
        });
    </script>


}