@model Dory2.Models.InitialRegisterDesaparecido

@{
    ViewBag.Title = "InitialRegisterDesaparecido";
    Layout = "~/Views/Shared/_Register.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <h1 class="title">Cadastro de desaparecido</h1>
    <div class="form-horizontal">
        <div class="form-container">
            <div class="form-group form-Box">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="form-group form-Box">
                @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sobrenome" } })
                @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-container">
            <div class="form-group form-Box">
                <select asp-for="Sexo" class="form-control select">
                    <option value="" hidden selected disabled>Sexo</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outro</option>
                </select>
            </div>

            <div class="form-group form-Box">
                <select asp-for="Etinia" class="form-control select">
                    <option value="" hidden selected disabled>Etnia</option>
                    <option value="1">Amarelo</option>
                    <option value="2">Branco</option>
                    <option value="3">Indígena</option>
                    <option value="4">Negra</option>
                    <option value="5">Parda</option>
                </select>
            </div>
        </div>
        <div class="form-container">
            <div class="form-group form-Box">
                @Html.EditorFor(model => model.CorOlhos, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cor dos Olhos" } })
                @Html.ValidationMessageFor(model => model.CorOlhos, "", new { @class = "text-danger" })
            </div>

            <div class="form-group form-Box">
                @Html.EditorFor(model => model.CorCabelo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cor dos Cabelos" } })
                @Html.ValidationMessageFor(model => model.CorCabelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-container">
            <div class="form-group form-Box">

                <select asp-for="TipoSanguineo" class="form-control select">
                    <option value="" hidden selected disabled>Tipo Sanguineo</option>
                    <option value="1">A-</option>
                    <option value="2">A+</option>
                    <option value="3">B-</option>
                    <option value="4">B+</option>
                    <option value="5">AB-</option>
                    <option value="6">AB+</option>
                    <option value="7">O-</option>
                    <option value="8">O+</option>
                </select>
            </div>

            <div class="form-group form-Box">
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data de nascimento" } })
                @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-container">
            <div class="form-group form-Box">
                @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control", @placeholder = "Altura" } })
                @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
            </div>

            <div class="form-group form-Box">
                @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control", @placeholder = "Peso" } })
                @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group form-Box2">
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adicione uma breve descrição sobre a pessoa" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
        </div>

        <div class="form-container">
            <div class="button-Container">
                @*@Html.ActionLink("Voltar", "Index")*@
                <input type="button" value="Voltar" onClick="history.go(-1)">
            </div>

            <div class="button-Container">
                <input type="submit" value="Continuar cadastro" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <script>
        $(function () {
            $("#DataNascimento").mask("99/99/9999");

        });

    </script>


}
