@model Dory2.Models.Tutorias
@{
    ViewBag.Title = "ListOneDesaparecido";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewBag.FotoPerfil == null)
    {
        ViewBag.FotoPerfil = "avatar.jpg";
    }
}

<link href="~/Content/Exibicao.css" rel="stylesheet" />

<div class="img-banner-container">
    <img src="~/Images/BANNER SITE.jpg" alt="banner" class="img-banner" />
</div>


<div class="card">
    <div class="card-header">
        @{
            if (ViewBag.IsResponsavel)
            {
                <a href="~/Desaparecido/UploadFotoPerfil/@Model.Id">
                    <img src="~/Uploads/@ViewBag.FotoPerfil" alt="Foto de perfil" class="profile-image" style="border-radius: 50%" />
                </a>
            }
            else
            {
                <img src="~/Uploads/@ViewBag.FotoPerfil" alt="temp" style="border-radius: 50%" />
            }
        }
        <div>
            <p class="card-name">@Html.DisplayFor(x => x.Pessoa.Nome)</p>
            <p class="card-age">
                @ViewBag.Idade
                anos
            </p>
        </div>
    </div>
    <div class="card-body">
        <div class="bodycontent">
            @{
                if (ViewBag.IsResponsavel)
                {
                    <p>
                        @Html.ActionLink("Editar dados pessoais", "EditarDadosPessoais", new { id = Model.Id })
                    </p>
                }
            }
            <p class="body-title">Desaparecido desde</p>
            <p>@Html.DisplayFor(x => x.Cadastro.ToString().Split(' ')[0])</p>

            <p class="body-title">Contato</p>
            <p>@Html.DisplayFor(x => x.Responsavel.Celular)</p>

            <p class="body-title">Sexo</p>
            <p>@Html.DisplayFor(x => x.Pessoa.Sexo)</p>
        </div>
        <div class="bodycontent">
            @{
                if (ViewBag.IsResponsavel)
                {
                    <p>
                        @Html.ActionLink("Editar informações do desaparecido", "EditarMaisInfos", new { id = Model.Id })
                    </p>
                }
            }
            <p class="body-title">Deficiência mental</p>
            <p>@ViewBag.Mental</p>

            <p class="body-title">Deficiência Física</p>
            <p>@ViewBag.Fisico</p>

            <p class="body-title">Medicamentos alergenicos</p>
            <p>@ViewBag.Medicamentos</p>

            <p class="body-title">Comidas alergenicas</p>
            <p>@ViewBag.Comidas</p>

            <p class="body-title">Outras condições</p>
            <p>@ViewBag.Doencas</p>
        </div>
    </div>
    <div class="card-footer">
        <div>
            <input type="button" value="Voltar" onClick="history.go(-1)" class="btn btn-lg btn-default" style="margin-right: 16px">
            <a href="~/Desaparecido/ViEstaPessoa/@Model.Id" class="btn btn-lg btn-primary">Eu vi esta pessoa</a>
        </div>

        <a href="~/Denuncias/Create/@ViewBag.DesaparecidoId" class="card-denuncia">Denunciar este perfil</a>
    </div>
</div>
