@model Dory2.Models.Tutorias
@{
    ViewBag.Title = "ListOneDesaparecido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Exibicao.css" rel="stylesheet" />

<div class="img-banner-container">
    <img src="~/Images/BANNER SITE.jpg" alt="banner" class="img-banner" />
</div>


<div class="card">
    <div class="card-header">
        <img src="~/Images/@ViewBag.FotoPerfil" alt="temp" />
        <div>
            <p class="card-name">@Html.DisplayFor(x => x.Pessoa.Nome)</p>
            <p class="card-age">
                @ViewBag.Idade
                anos
            </p>
        </div>
    </div>
    <div class="card-body">
        <div class="bodycontent">
            <p class="body-title">Desaparecido desde</p>
            <p>@Html.DisplayFor(x => x.Cadastro)</p>

            <p class="body-title">Contato</p>
            <p>@Html.DisplayFor(x => x.Responsavel.Celular)</p>

            <p class="body-title">Sexo</p>
            <p>@Html.DisplayFor(x => x.Pessoa.Sexo)</p>
        </div>
        <div class="bodycontent">
            <p class="body-title">Deficiência mental</p>
            <p>@ViewBag.Mental</p>

            <p class="body-title">Deficiência Física</p>
            <p>@ViewBag.Fisico</p>

            <p class="body-title">Medicamentos alergenicos</p>
            <p>@ViewBag.Medicamentos</p>

            <p class="body-title">Comidas alergenicas</p>
            <p>@ViewBag.Comidas</p>

            <p class="body-title">Outras condições</p>
            <p>@ViewBag.Doencas</p>
        </div>
    </div>
    <div class="card-footer">
        <div>
            <a href="#" class="card-back">Voltar</a>
            <a href="#" class="card-achei">Eu vi esta Pessoa</a>
        </div>

        <a href="#" class="card-denuncia">Denunciar este perfil</a>
    </div>
</div>
