@model Dory2.Models.Tutorias
@{
    ViewBag.Title = "ListOneDesaparecido";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewBag.FotoPerfil == null)
    {
        ViewBag.FotoPerfil = "avatar.jpg";
    }
}

<link href="~/Content/Exibicao.css" rel="stylesheet" />

<div class="img-banner-container">
    <img src="~/Images/BANNER SITE.jpg" alt="banner" class="img-banner" />
</div>


<div class="card">
    <div class="card-header">
        @{
            if (ViewBag.IsResponsavel)
            {
                <a href="~/Desaparecido/UploadFotoPerfil/@Model.Id">
                    <img src="~/Uploads/@ViewBag.FotoPerfil" alt="Foto de perfil" class="profile-image" style="border-radius: 50%" />
                </a>
            }
            else
            {
                <img src="~/Uploads/@ViewBag.FotoPerfil" alt="temp" style="border-radius: 50%" />
            }
        }
        <div>
            <p class="card-name">@Html.DisplayFor(x => x.Pessoa.Nome)</p>
            <p class="card-age">
                @ViewBag.Idade
                anos
            </p>
        </div>
    </div>
    <div class="card-body">
        <div class="bodycontent">
            <div class="two-line-exibition-header">
                <div class="list-item-header-title">
                    <p class="body-title-header">Informações Pessoais</p>
                </div>
                <div class="list-item-header-edit2">
                    @{
                        if (ViewBag.IsResponsavel)
                        {
                            <a href="~/Desaparecido/EditarDadosPessoais/@Model.Id" title="Editar dados pessoais">
                                <img src="~/Images/edit.svg" />
                            </a>
                        }
                    }
                </div>
            </div>

            <div class="one-line-exibition">
                <p class="body-title">Sobre esta pessoa</p>
                <p>@ViewBag.Descricao</p>
            </div>
            <div class="two-line-exibition">
                <div class="list-item">
                    <p class="body-title">Desaparecido desde</p>
                    <p>@Html.DisplayFor(x => x.Cadastro.ToString().Split(' ')[0])</p>
                </div>
                <div class="list-item">
                    <p class="body-title">Sexo</p>
                    <p>@Html.DisplayFor(x => x.Pessoa.Sexo)</p>
                </div>
            </div>

            <div class="two-line-exibition">
                <div class="list-item">
                    <p class="body-title">Etnia</p>
                    <p>@Html.DisplayFor(x => x.Pessoa.Cutis)</p>
                </div>
                <div class="list-item">
                    <p class="body-title">Tipo sanguíneo</p>
                    <p>@ViewBag.Sangue</p>
                </div>
            </div>

            <div class="two-line-exibition">
                <div class="list-item">
                    <p class="body-title">Altura</p>
                    <p>@ViewBag.Altura</p>
                </div>
                <div class="list-item">
                    <p class="body-title">Peso</p>
                    <p>@ViewBag.Peso</p>
                </div>
            </div>

            <div class="two-line-exibition">
                <div class="list-item">
                    <p class="body-title">Cor dos olhos</p>
                    <p>@ViewBag.CorOlhos</p>
                </div>
                <div class="list-item">
                    <p class="body-title">Cor dos cabelos</p>
                    <p>@ViewBag.CorCabelo</p>
                </div>
            </div>

            @*<p class="body-title">Contato</p>
                <p>@Html.DisplayFor(x => x.Responsavel.Celular)</p>*@


        </div>
        <div class="bodycontent">

            <div class="two-line-exibition-header">
                <div class="list-item-header-title">
                    <p class="body-title-header">Informações sobre a saúde da pessoa </p>
                </div>
                <div class="list-item-header-edit2">
                    @{
                        if (ViewBag.IsResponsavel)
                        {
                            <a href="~/Desaparecido/EditarMaisInfos/@Model.Id" title="Editar informações">
                                <img src="~/Images/edit.svg" />
                            </a>
                        }

                    }
                </div>
            </div>

            <div class="two-line-exibition">
                <div class="list-item">
                    <p class="body-title">Deficiência mental</p>
                    <p>@ViewBag.Mental</p>
                </div>
                <div class="list-item">
                    <p class="body-title">Deficiência Física</p>
                    <p>@ViewBag.Fisico</p>
                </div>
            </div>

            <div class="two-line-exibition">
                <div class="list-item">
                    <p class="body-title">Medicamentos alergenicos</p>
                    <p>@ViewBag.Medicamentos</p>
                </div>
                <div class="list-item">
                    <p class="body-title">Comidas alergenicas</p>
                    <p>@ViewBag.Comidas</p>
                </div>
            </div>

            <div class="two-line-exibition">
                <div class="list-item">
                    <p class="body-title">Outras condições</p>
                    <p>@ViewBag.Doencas</p>
                </div>
                <div class="list-item">
                </div>
            </div>
        </div>
        <div class="bodycontent">

            <div class="two-line-exibition-header">
                <div class="list-item-header-title">
                    <p class="body-title-header">Histórico de localização </p>
                </div>
            </div>

            @{
                foreach (var hist in ViewBag.Historico)
                {
                    <div class="two-line-exibition">
                        <div class="list-item">
                            <p class="body-title">Local</p>
                            <p>@hist.UltimoLugarVisto</p>
                        </div>
                        <div class="list-item">
                            <p class="body-title">Cidade</p>
                            <p>@hist.UltimaLocalizacao</p>
                        </div>
                    </div>
                    <div class="two-line-exibition">
                        <div class="list-item">
                            <p class="body-title">Ultima Roupa</p>
                            <p>@hist.UltimaRoupa</p>
                        </div>
                        <div class="list-item">
                            <p class="body-title">Data</p>
                            <p>@hist.UltimoHorarioVisto.ToString().Split(' ')[0]</p>
                        </div>
                    </div>
                    <div class="two-line-exibition">
                        <div class="list-item">
                            <p class="body-title">Mais informações</p>
                            <p>@hist.MaisInformacoes</p>
                        </div>
                    </div>
                    if (ViewBag.isResponsavel)
                    {
                        <div class="two-line-exibition">
                            <div class="list-item">
                                <p class="body-title">Quem viu?</p>
                                <p>@hist.NomeQuemViu</p>
                            </div>
                        </div>
                        <div class="two-line-exibition">
                            <div class="list-item">
                                <p class="body-title">Contato</p>
                                <p>@hist.ContatoQuemViu</p>
                            </div>
                            <div class="list-item">
                                <p class="body-title">Email</p>
                                <p>@hist.EmailQuemViu</p>
                            </div>
                        </div>
                    }
                    <hr />
                }
            }
        </div>
    </div>

    <div class="card-footer">

        @{
            if (ViewBag.isResponsavel)
            {
                <div>
                    <input type="button" value="Voltar" onClick="history.go(-1)" class="btn btn-lg btn-default" style="margin-right: 16px">
                    <button data-toggle="modal" data-target="#pessoaEncontrada" class="btn btn-lg btn-primary">Pessoa Encontrada</button>
                </div>
                <a class="card-denuncia" data-toggle="modal" data-target="#confirmarExcluir" style="cursor: pointer;">Apagar Desaparecido</a>
            }
            else
            {
                <div>
                    <input type="button" value="Voltar" onClick="history.go(-1)" class="btn btn-lg btn-default" style="margin-right: 16px">
                    <a href="~/Desaparecido/ViEstaPessoa/@Model.Id" class="btn btn-lg btn-primary">Eu vi esta pessoa</a>
                </div>
                <a href="~/Denuncias/Create/@ViewBag.DesaparecidoId" class="card-denuncia">Denunciar este perfil</a>
            }
        }
    </div>
</div>

<!-- Modal Apagar desaparecido -->
<div class="modal fade" id="confirmarExcluir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deseja mesmo excluir este desaparecido?</h4>
            </div>
            <div class="modal-body">
                <p>Caso clique em sim o desaparecido será excluido e não poderá ser visto novamente no nosso sistema</p>
                <div class="alert alert-warning" role="alert"><strong>Aviso!</strong> Caso o desaparecido foi encontrado favor clicar em Pessoa encontrada</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="~/Desaparecido/ExcluirDesaparecido/@Model.Id" class="btn btn-danger">Confirmar exclusão</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal Pessoa Encontrada -->
<div class="modal fade" id="pessoaEncontrada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">A pessoa foi encontrada?</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert"><strong>Aviso!</strong> Ao clicar em sim o desaparecido será removido da listagem de desaparecidos</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                @{
                    if (Model.IsVulneravel)
                    {
                        <a href="~/Vulneravels/VulneravelEncontrado/@Model.Id" class="btn btn-primary">Sim</a>
                    }
                    else
                    {
                        <a href="~/Desaparecido/DesaparecidoEncontrado/@Model.Id" class="btn btn-primary">Sim</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
