@model IEnumerable<Dory2.Models.Tutorias>

@{
    ViewBag.Title = "ListDesaparecidoTest2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListDesaparecidoTest2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResponsavelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PessoaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsavelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PessoaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
