@model Dory2.Models.EsqueceuSenha

@{
    ViewBag.Title = "EsqueceuSenha";
    Layout = "~/Views/Shared/_Register.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-container">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    <p>Para continuar com a redefinição de senha, insira seu email cadastrado no Dory</p>
                </div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Insira seu email cadastrado", @style = "width: 440px;" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="btn-container">
                    <input type="submit" value="Enviar" class="btn button-login" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
