@model Dory2.Models.Responsavel

@{
    ViewBag.Title = "Perfil";

    if (ViewBag.FotoPerfil == null) {
        ViewBag.FotoPerfil = "avatar.jpg";
    }
}

<link href="~/Content/Perfil.css" rel="stylesheet" />

<div class="img-banner-container">
    <img src="~/Images/BANNER SITE.jpg" alt="banner" class="img-banner" />
</div>

<div>
    <div class="profile-container">
        <div class="profile-header">
            <a href="~/Responsavels/UploadFotoPerfil">
                <img src="~/Uploads/@ViewBag.FotoPerfil" alt="Foto de perfil" class="profile-image" style="border-radius: 50%" />
            </a>
            <div class="profile-name-container">
                <span class="profile-name text-bold">@Html.DisplayFor(model => model.Pessoa.Nome)</span>
                <span class="profile-name">
                    @ViewBag.Idade
                    anos
                </span>
            </div>
        </div>
        <div class="profile-body">
            <div class="profile-data">
                <span class="profile-title text-bold">Contato</span>
                <span>@Html.DisplayFor(model => model.Celular)</span>

                <span class="profile-title text-bold">Email</span>
                <span>@Html.DisplayFor(model => model.Email)</span>
            </div>
            <div class="profile-data">
                <span class="profile-title text-bold">CPF</span>
                @if (Html.DisplayFor(model => model.Pessoa.Cpf).ToString().Equals(""))
                {
                    <span>Cadastro não completo</span>
                }
                else
                {
                    <span>@Html.DisplayFor(model => model.Pessoa.Cpf)</span>
                }
                <span class="profile-title text-bold">Sexo</span>
                @if (Html.DisplayFor(model => model.Pessoa.Sexo).ToString().Equals(""))
                {
                    <span>Cadastro não completo</span>
                }
                else
                {
                    <span>@Html.DisplayFor(model => model.Pessoa.Sexo)</span>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "EditarPerfil", new { id = Model.Id })
</p>
